<div class="about-page font-family">
    <div class="titleWrapper">
        <div class="about-description-title color-b text-align-c">
            <p style="white-space: pre-wrap;">
                <span>Product Manager <br/>
                    who’s Detail‑Oriented,
                    Tech‑Savvy, & Data Focused.</span>
            </p>
        </div>
    </div>
    <div class="rest-page">
        <div class="row" style="margin-bottom: 13%;">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <div class="heading-primary text-align-c m-b-6 color-b">About Arpit</div>
                <div class="about-user">
                    <p>
                        At the end of the day, my goal is to view the product and its features from the eyes of 
                        the user and to create an ever optimized experience that eases pain points and brings joy.

                    </p>
                    <p>
                        As a former App developer turned Product Manager, I understand what it means to build products 
                        that are high-quality, cohesive, and scalable. I have built a strong attention for detail that’s 
                        especially helpful when working through requirements, wireframes, and prototypes with cross-functional 
                        team members. I feel at ease talking with engineers and creatives, can appropriately approach problem 
                        solving, and actively maintain a holistic viewpoint.
                    </p>
                    <p>
                        I have multiple years of experience in a wide range of disciplines including engineering, 
                        internet marketing, UX design, and app analytics. These experiences have given me unique 
                        insights into the product lifecycle and has enabled me to always be thinking through the entire 
                        customer journey, while challenging our own assumptions.</p>
                    
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <div class="profileImg">
                    <span>
                        <img src="../../../assets//images/Profile_img.jpeg" style="width: 100%;">
                    </span>
                </div>
            </div>
        </div>
        <div class="row skillRow" style="margin-bottom: 13%;">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <div>
                    <div class="heading-primary m-b-6 color-b skill-heading">Noteworthy Skills</div>
                    <div class="skills">  
                        <p>
                            User Stories, PRD, Requirements, Research, Data Insights, Problem Solving, System Design, 
                            Leading Meetings, Engineering Principals, Design Principles, ​Competitor​ & User Research,​ 
                            Roadmapping, Prioritization, Photoshop, Invision, Zeplin, Google Analytics, Firebase, 
                            Mixpanel, Excel Sheets, Kotlin, Java, Objective-C.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <div class="quotes color-b">
                    <span>
                        “I got an opportunity to work with Arpit and I found him multitalented. 
                        He is good at owning end to end responsibility in developing products with skills to code, 
                        design and develop from scratch. He knows what he talks about and has an urgency towards 
                        achieving his goals. He is a strong tech guy and a seasoned product professional and 
                        I wish him all the best for his future”
                    </span>
                    <p class="caption color-p">— Mrutyunjaya [ Founder, StApp ]</p>
                </div>
            </div>
        </div>
        <div class="letsConnect">
            <div>
                <div class="text-align-c heading-primary color-b">Let's Connect</div>
                <div class="socialWrapper">
                    <div class="text-align-c">
                        <a href="https://www.linkedin.com/in/arpitranjan/">
                            <img src="../../../assets/images/linkedin.png" class="socialIconL">
                        </a>
                        <a href="https://medium.com/@arpitranjan">
                            <img src="../../../assets/images/rename.png" class="socialIconM">
                        </a>
                    </div>
                </div>
                <div class="emailMeDiv">
                    <div class="text-align-c">
                        <button (click)="openModal()">EMAIL ME</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

