<main>
    <div class="font-family home-page">
        <div class="page-description-title">
            <div class="home-description-title color-b text-align-c">
                <p style="white-space: pre-wrap;">
                    <span>— Arpit is a Product manager, Hiker and Urban
                           Sketcher based out in Bangalore, India </span>
                </p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 sectionDiv">
            <div>
                <div class="subTitleDiv">
                    <span>Products</span>
                </div>
                <div class="imgContainer">
                    <img src="../../../assets/images/Product.png" class="imgProduct"/>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 sectionDiv">
            <div>
                <div class="subTitleDiv">
                    <span>Logo Designs</span>
                </div>
                <div class="imgContainer">
                    <img src="../../../assets/images/LogoD.png" class="imgProduct"/>
                </div>
            </div>
        </div>
        <div>
            <div class="caseStudyCont">
                <div class="caseStudyTitle">
                    <span>Case Study</span>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-sm-6 caseStudyBlock" style="background-color: #ff5a61;" (click)="goCaseStudy('airbnb')">
                        <div>
                            <div class="container">
                                <img src="../../../assets/images/airbnb.png" class="companyImg">
                                <div class="overlay overlay-airbnb">
                                  <div class="text">Case Study - Airbnb</div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6 caseStudyBlock"  style="background-color: #fff000;" (click)="goCaseStudy('thieve')">
                        <div>
                            <div class="container">
                                <img src="../../../assets/images/thieve.png" class="companyImg">
                                <div class="overlay overlay-thieve">
                                  <div class="text">Case Study - Thieve</div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-sm-6 caseStudyBlock" style="background-color: #F6881F;" (click)="goCaseStudy('swiggy')">
                        <div>
                            <div class="container">
                                <img src="../../../assets/images/swiggy.png" class="companyImg">
                                <div class="overlay overlay-swiggy">
                                  <div class="text">Case Study - Swiggy</div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6 caseStudyBlock"  style="background-color: #0360ff;;" (click)="goCaseStudy('dropbox')">
                        <div>
                            <div class="container">
                                <img src="../../../assets/images/dropbox.png" class="companyImg">
                                <div class="overlay overlay-drpbox">
                                  <div class="text">Case Study - Dropbox</div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-sm-6 caseStudyBlock"  style="background-color: #000;" (click)="goCaseStudy('circa')">
                        <div>
                            <div class="container">
                                <img src="../../../assets/images/circa.png" class="companyImg">
                                <div class="overlay overlay-circa">
                                  <div class="text">Case Study - Circa</div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6 caseStudyBlock"   style="background-color: #f94878;" (click)="goCaseStudy('foresquare')">
                        <div>
                            <div class="container">
                                <img src="../../../assets/images/foresquare.png"  class="companyImg">
                                <div class="overlay overlay-foresquare">
                                  <div class="text">Case Study - Foresqaure</div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12 col-md-6 col-sm-6 caseStudyBlock"  style="background-color: #FE722E;" (click)="goCaseStudy('vedantu')">
                        <div>
                            <div class="container">
                                <img src="../../../assets/images/vedantu.png" class="companyImg">
                                <div class="overlay overlay-vedantu">
                                  <div class="text">Case Study - Vedantu</div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div  class="quotesContainer">
                <div class="row">
                    <div class="col-12 col-md-12 col-sm-12 col-m-12">
                        <div class="quotes color-b">
                            <blockquote>“I have always found Arpit to be a detail oriented person.
                                 He has a knack of creative product thinking while keeping his analytical mindset in perspective. 
                                 It was a pleasure working with him on various projects.He brings so much insight, vision, enthusiasm, 
                                 and organization to his team that he inspires the entire company to do its absolute best work.
                                  I am sure he would be an asset to any team he would work for”</blockquote>
                            <p><span class="figCaptions">— Tushar Priyadarshi [ CEO, Tripshark ]</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="abtConnect">
                <div>
                    <div class="text-align-c">
                        <button (click)="goToAbt()">ABOUT + CONNECT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</main>

