.page-description-title{
    // width: 80%;
    margin-top:7%;
    font-size: 3.125vw;
    font-weight: 700;
    font-style: normal;
    line-height: 1.7em;
    letter-spacing: 0em;
    text-transform: none;
    color: #111;
    margin-top: 23vh;
    margin-bottom: 28vh;
    font-family: 'PT Sans', sans-serif;
}

.font-family{
  font-family: 'PT Sans', sans-serif;
}



button{
    padding: 1.5rem;
    width: 25%;
    background-color: #fff;
    border: 2px solid black;
    font-size: 1.4rem;
    font-weight: 800;
}

button:hover{
  color: #fff;
  background-color: #000;


}

.container {
    position: relative;
    width: 80%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }

  .overlay-airbnb{
    background-color: #ff5a61;
  }
  
  .overlay-thieve{
    background-color: #F5F500;
  }

  .overlay-swiggy{
    background-color: #F6881F;
  }

  .overlay-drpbox{
    background-color: #0360ff;
  }

  .overlay-circa{
    background-color: #000;
  }

  .overlay-vedantu{
    background-color: #FE722E;
  }

  .overlay-foresquare{
    background-color: #f94878;
  }

  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home-page{
    margin-top:10%;
    padding: 0px 0px 0px 0px;
  }
  .home-description-title{
    font-size: 6.125vw;
    margin: 0 auto;
    /* width: 63%; */
    font-weight: 900;
    line-height: 2.5rem; 
}
.caseStudyCont{
  margin-bottom: 20%;
}
.page-description-title{
  margin-top: 12vh;
  margin-bottom: 12vh;
}
.companyImg{
  height:14rem;
  width: 100%;
}
.quotesContainer{
  margin-bottom: 10%;
}
.quotes{
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 1.7em;
    letter-spacing: .005em;
    text-rendering: optimizeLegibility;
}
blockquote{
  border-left: 0;
  font-size: 4.5625vw;
  font-weight: 400;
  letter-spacing: 0em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: .005em;
  text-transform: none;
  border-left-color: none;
  border-left-width: 0;
  margin: auto auto 1.2em;
  padding-right: 0;
  padding-left: 0;
  text-align: left;
}
.figCaptions{
  font-size: 12px;
  color:#aaa;
}

.sectionDiv{
  margin-bottom: 16%;
  margin-top:15% ;
}

.caseStudyTitle{
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 5%;
}

.subTitleDiv{
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;

}

.imgContainer{
  width: 100%;
  margin: 0 auto;
}

.imgProduct{
  width: 100%;
}

.abtConnect{

}
button{
  padding: 0.8rem;
    width: 48%;
    background-color: #fff;
    border: 2px solid black;
    font-size: 12px;
  
    .text {
      color: white;
      font-size: 11px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }  font-weight: 800;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


  .sectionDiv{
    margin-bottom: 16%;
    margin-top:15% ;
  }
  
  .caseStudyTitle{
    color: black;
    font-size: 2.1rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .subTitleDiv{
    color: black;
    font-size: 2.1rem;
    font-weight: 800;
    text-align: center;
  
  }
  
  .imgContainer{
    width: 100%;
    margin: 0 auto;
  }
  
  .imgProduct{
    width: 100%;
  }
  .home-page{
    margin-top:10%;
    padding: 0px 0px 0px 0px;
  }
  .home-description-title{
    font-size: 5.125vw;
    margin: 0 auto;
    font-weight: 900;
    line-height: 3.5rem;
}

.caseStudyCont .row{
  padding-left: 6%;
}

.caseStudyCont{
  margin-bottom: 20%;
}
.page-description-title{
  margin-top: 12vh;
  margin-bottom: 12vh;
}
.companyImg{
  height:10rem;
  width: 100%;
}
.quotesContainer{
  margin-bottom: 10%;
}
.quotes{
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 1.7em;
    letter-spacing: .005em;
    text-rendering: optimizeLegibility;
}
blockquote{
  border-left: 0;
  font-size: 3.3625vw;
  font-weight: 400;
  letter-spacing: 0em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: .005em;
  text-transform: none;
  border-left-color: none;
  border-left-width: 0;
  margin: auto auto 1.2em;
  padding-right: 0;
  padding-left: 0;
  text-align: left;
}
.figCaptions{
  font-size: 14px;
  color:#aaa;
}
.abtConnect{

}
button{
  padding: 0.8rem;
    width: 35%;
    background-color: #fff;
    border: 2px solid black;
    font-size: 12px;
    font-weight: 800;
}
.text {
  color: white;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .sectionDiv{
    margin-bottom: 16%;
    margin-top:15% ;
  }
  
  .caseStudyTitle{
    color: black;
    font-size: 2.3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .subTitleDiv{
    color: black;
    font-size: 2.3rem;
    font-weight: 800;
    text-align: center;
  
  }
  
  .imgContainer{
    width: 100%;
    margin: 0 auto;
  }
  
  .imgProduct{
    width: 100%;
  }

  .home-page{
    margin-top:10%;
    padding: 0px 0px 0px 0px;
  }
  .home-description-title{
    font-size: 3.525vw;
    margin: 0 auto;
    font-weight: 900;
    width: 71%;
    line-height: 3.5rem;
}
.caseStudyCont{
  margin-bottom: 20%;
}
.page-description-title{
  margin-top: 12vh;
  margin-bottom: 12vh;
}
.companyImg{
  height:14rem;
  width: 100%;
}
.quotesContainer{
  margin-bottom: 10%;
}
.quotes{
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 1.7em;
    letter-spacing: .005em;
    text-rendering: optimizeLegibility;
}
blockquote{
  border-left: 0;
  font-size: 2.5625vw;
  font-weight: 400;
  letter-spacing: 0em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: .005em;
  text-transform: none;
  border-left-color: none;
  border-left-width: 0;
  margin: auto auto 1.2em;
  padding-right: 0;
  padding-left: 0;
  text-align: left;
}
.figCaptions{
  font-size: 14px;
  color:#aaa;
}
.abtConnect{

}
button{
  padding: 0.8rem;
  width: 23%;
  background-color: #fff;
  border: 2px solid black;
  font-size: 12px;
  font-weight: 900;

}
.text {
  color: white;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


  .sectionDiv{
    margin-bottom: 16%;
    margin-top:15% ;
  }
  
  .caseStudyTitle{
    color: black;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .subTitleDiv{
    color: black;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
  
  }
  
  .imgContainer{
    width: 100%;
    margin: 0 auto;
  }
  
  .imgProduct{
    width: 100%;
  }

  .home-page{
    margin-top:10%;
    padding: 0px 0px 0px 0px;
  }
  .home-description-title{
    font-size: 3.125vw;
    margin: 0 auto;
    font-weight: bolder;
    line-height: 3.5rem;
}
.caseStudyCont{
  margin-bottom: 20%;
}
.caseStudyCont .row{
  padding-left: 0%;
}
.page-description-title{
  margin-top: 12vh;
  margin-bottom: 20vh;
}
.companyImg{
  height:14rem;
  width: 100%;
}
.quotesContainer{
  margin-bottom: 10%;
}
.quotes{
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 1.7em;
    letter-spacing: .005em;
    text-rendering: optimizeLegibility;
}
blockquote{
  border-left: 0;
  font-size:  1.9625vw;
  font-weight: 400;
  letter-spacing: 0em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: .005em;
  text-transform: none;
  border-left-color: none;
  border-left-width: 0;
  margin: auto auto 1.2em;
  padding-right: 0;
  padding-left: 0;
  text-align: left;
}
.figCaptions{
  font-size: 15px;
  color:#aaa;
}
.abtConnect{

}
button{
  padding: 0.8rem;
    width: 19%;
    background-color: #fff;
    border: 2px solid black;
    font-size: 15px;
    font-weight: 800;
}

.text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .sectionDiv{
    margin-bottom: 10%;
    margin-top:10% ;
  }
  
  .caseStudyTitle{
    color: black;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .subTitleDiv{
    color: black;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
  }
  
  .imgContainer{
    width: 65%;
    margin: 0 auto;
  }
  
  .imgProduct{
    width: 100%;
  }

  .home-page{
    margin-top:10%;
    padding: 0px 0px 0px 0px;
  }
  .home-description-title{
    font-size: 3.125vw;
    margin: 0 auto;
    font-weight: 900;
    line-height: 4.5rem;
}
.caseStudyCont{
  margin-bottom: 17%;
  width: 85%;
    margin: 0 auto;
}
.page-description-title{
  margin-top: 12vh;
  margin-bottom: 23vh;
}
.companyImg{
  height:14rem;
  width: 100%;
}
.quotesContainer{
  margin-bottom: 10%;
  margin-top: 13%;
}
.quotes{
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  width: 65%;
  margin: 0 auto;
  line-height: 1.7em;
  letter-spacing: 0.005em;
  text-rendering: optimizeLegibility;
}

blockquote{
  border-left: 0;
  font-size: 1.5625vw;
  font-weight: 400;
  letter-spacing: 0em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: .005em;
  text-transform: none;
  border-left-color: none;
  border-left-width: 0;
  margin: auto auto 1.2em;
  padding-right: 0;
  padding-left: 0;
  text-align: left;
}
.figCaptions{
  font-size: 16px;
  color:#aaa;
}
.abtConnect{

}
button{
  padding: 0.8rem;
  width: 15%;
  background-color: #fff;
  border: 2px solid black;
  font-size: 15px;
  font-weight: 800;

}

.text {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container{
  position: relative;
    width: 80%;
    height: 20rem;
    padding: 54px 10px;
}

}
