<div class="font-family">
    <div class="titleWrapper">
        <div class="about-description-title color-b text-align-c">
            <p style="white-space: pre-wrap;">
                <span>My Resume</span>
            </p>
        </div>
    </div>
    <div>
        <div>
            <div>
                <p class="captions color-p" >Simply click on the image below to view my resume as a PDF.</p>
                <div class="resumeContainer" >
                    <a href="../../../assets/files/Arpit_product.pdf" target="_blank"><img src="../../../assets/images/blur_resume.jpg" style="width: 100%;"></a>
                    <div class="bottom-left color-b">View as pdf</div>
                </div>

            </div>
        </div>
    </div>
</div> 
